/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 사이드바 스타일 */
#sidebar {
    width: 250px;
    top: 0;
    left: 0;
    background-color: #2d3e50;
    padding-top: 20px;
    height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    padding: 8px 16px;
    text-align: left;
}

#sidebar li a {
    text-decoration: none;
    color: white;
    display: block;
}

#sidebar li a:hover {
    background-color: #2d5032;
}

/* .historyTab 스타일 */
.historyTab {
    background-color: #2d3e50;
    padding: 10px 0;
}

.historyTab ul {
    display: flex;
    justify-content: center;
}

.historyTab li {
    list-style: none;
    margin-right: 20px;
}

.historyTab a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.historyTab .on a {
    font-weight: bold;
    color: #f4c542;
}


.content4 {
    margin-left: 230px;
    padding: 20px;
}