 .custom-btn {
      display: block;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: #03C75A;
      transition: background-color 0.3s ease;
    }
    .custom-btn:hover {
      background-color: #029a49;
    }
    .gray-btn {
      display: block;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      border: 1px solid #D0D0D0;
      color: #a8a8a8;
      background-color: white;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      text-align: center;
      text-decoration: none;
    }
    .gray-btn:hover {
      background-color: #F8F8F8;
      border-color: #B0B0B0;
      color: #444
    }
    .card {
      border: none;
      box-shadow: none;
    }
    .btn-container {
      width: 100%;
    }
    .form-control {
      height: 50px;
    }