<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.earthquake.mapper.EarthquakeMapper">

    <!-- resultMap 정의 -->
    <resultMap id="searchVOResultMap" type="com.pcwk.ehr.cmn.SearchVO">
        <result property="searchDiv" column="searchDiv"/>
        <result property="searchWord" column="searchWord"/>
    </resultMap>


    <!-- 검색 조건을 공통으로 처리하는 SQL -->
    <sql id="doRetrieveWhere">
        <if test="'' != searchDiv">
            <choose>
             <when test="10 == searchDiv">
                 ORDER BY EQK_REPORT_TIME DESC
                </when>
                <when test="20 == searchDiv">
                    ORDER BY EQK_MT DESC
                </when>
            </choose>
        </if>
    </sql>


<select id="getEQK" parameterType="com.pcwk.ehr.cmn.SearchVO">
    SELECT EQK_NUM,EQK_AREA__REGION,EQK_REPORT_TIME,EQK_ORIGIN_TIME,EQK_MT, EQK_LAT,
           EQK_LON, EQK_LOC,EQK_INTENSITY, EQK_COMMENTS,EQK_UPDATE, EQK_ORIGIN_MSC
    FROM EARTHQUAKE
    WHERE EQK_AREA__REGION = 3
    AND EQK_REPORT_TIME LIKE #{searchWord} || '%'
    <include refid="doRetrieveWhere"/>
</select>

</mapper>