<?xml version="1.0" encoding="UTF-8" standalone="yes" ?><ep:Properties xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:ep="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><ep:Application>Cell</ep:Application><ep:TitlesOfParts><vt:vector size="1" baseType="lpstr"><vt:lpstr>Sheet1</vt:lpstr></vt:vector></ep:TitlesOfParts><ep:TotalTime>1</ep:TotalTime><ep:AppVersion>12.0300</ep:AppVersion></ep:Properties>